[data-md-color-scheme="my_color"] {
  --md-primary-fg-color:        #770000;
  --md-primary-fg-color--light: #ECB7B7;
  --md-primary-fg-color--dark:  #90030C;  
}

.md-main {
  background-color: #F9F6F0;  /* Replace with your desired color */
}

.md-header__title {
  cursor: pointer;          /* Show pointer on hover */
  user-select: none;        /* Disable text selection */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.md-header__title:hover {
  opacity: 0.8;             /* Optional: visual feedback on hover */
}